*{ margin: 0; padding: 0; box-sizing: border-box; text-align: center; justify-content: center; font-size:100px}
body{ background: linear-gradient(to right,#ffbfd5,white);align-items: center; justify-content: center; font-family: cursive;}
.cover{ width: 80%;border-radius: 20px;}
.audio{ width: 80%; height: 100%;outline: none;}
