*{
    padding: 0%; margin: 0%; box-sizing: border-box; text-decoration: none;
}
nav {
    position: fixed ;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    gap: 10px;
    z-index: 100;
    color: #ffffff;
    background-color: #2f2626;
}
.body{
    z-index: 10;
}
h2{text-align: center;}
.body .container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.body .container a{
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background-color: #2f2626;
    color:#ffffff;
}
.body .container .people{
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background-color: #2f2626;
}
.body .container .people a{
    color: #ffffff;
}
