*{
    padding: 0%; margin: 0%; box-sizing: border-box; text-decoration: none;
}
nav {
    position: fixed ;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    gap: 10px;
    z-index: 100;
    color: #ffffff;
    background-color: #050505;
}
body{
    background-color: #fdffcf;
}
.body{
    z-index: 10;
}
.body .flims h3{
    margin: 0px 20px 0px 20px;
    padding: 0px 0px 10px 0px;
    border-bottom: solid #000000 1.2px;
}
.body .flims h3 span{
    font-size: small;
    font-weight: normal;
}
.body .flims table{
    margin: auto;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
}
.body .flims table thead th{ border: #000000 solid 1px; padding: 5px ;}
.body .flims table tbody td{ border: #000000 solid 1px; padding: 5px ;}
.body .tv_shows table{
    margin: auto;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
}
.body .tv_shows h3{
    margin: 0px 20px 0px 20px;
    padding: 0px 0px 10px 0px;
    border-bottom: solid #000000 1.2px;
}
.body .tv_shows h3 span{
    font-size: small;
    font-weight: normal;
}
.body .tv_shows table{
    margin: auto;
    padding: 5px;
    align-items: center;
    text-align: center;
}
.body .tv_shows table thead th{ border: #000000 solid 1px; padding: 5px ;}
.body .tv_shows table tbody td{ border: #000000 solid 1px; padding: 5px ;}