*{ box-sizing: border-box;}
body{ background-color:#ffaab5;}
header{ position: relative;display: flex;justify-content: space-between;align-items: center;}
#bg{height: 15%;width: 15%;}
header .pages a{ font-size: 100%;text-decoration: none;color: black;padding-right: 10px;}
h1 {text-align: center;font-family: Brush Script MT , cursive; padding-bottom: 5px;border-bottom-right-radius: 10px;border-top-left-radius: 10px;border: 1px solid black;}
.news{background-color: #ffffff;box-shadow: 2px 2px ;margin: 12px;border-radius: 10px 10px 0px 10px;}
.news .head{border-bottom: solid black;}
.news .head h2{text-align: center;font-family: Times New Roman;margin: 0;}
.news .head p{text-align: right;opacity: 50%;font-family: Monaco;margin: 0px 5px 0px 0px;font-size: 80%;}
.news h3{margin: 0;border: 0;padding: 12px 0px 0px 3px ;}
.news .body{padding: 3px;}
.news .body img{max-width: 170px;height: auto;float: left; margin: 2px 3px 0px 3px;}
.icons {text-align: center; padding-bottom:8px;}
.profile{ height: 40px; width: 40px; padding:10px;padding-top: 0px;}
