*{
    padding: 0%; margin: 0%; box-sizing: border-box; text-decoration: none;font-family: Arial, Helvetica, sans-serif;
}
header {
    position: fixed ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #050505;
}
header img{
    padding: 0px 0px 0px 5px;
    height: 35px;
    width: auto;
}
header nav{
    display: flex;
    gap: 10px;
}
.body{ z-index: 1;}
.body .paper{
    background-color: #d8d8d8;
    margin: auto;
    max-width: 25cm;
    min-width: 7.5cm;
    padding: 7px;
    border: solid #ffffff 10px;
    border-radius: 20px;
}
.body .paper .publisher{
    text-align: center;
    border-bottom: solid #000000 1.2px;
    padding: 0px 0px 10px 0px;
}
.body .paper .publisher h2 span{
    text-align: right;
    float: right;
    font-weight: normal;
    font-size: small;
    opacity: 70%;
}
.body .paper .page{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.body .paper .page .news{
    padding: 5px;
    width: 7.5cm;
    height: auto;
    border-radius: 7px;
    height: fit-content;
    line-height: 1.2;
}
.body .paper .page .news legend{
    text-align: center;
    padding: 3px;
    font-size: 19px;
    font-weight: bold
}
.body .paper .page .news img{
    width: 7.5cm;
    height: auto;
}
.bio{
    margin: 0% 6% 0% 6%;
}
footer{
    background-color: #050505;
    text-align: center;
    color: #f9f9f9;
}