*{ box-sizing: border-box;}
body{ background-color:#ffaab5;}
header{ position: relative;display: flex;justify-content: space-between;align-items: center;}
#bg{height: 15%;width: 15%;}
header .pages a{ font-size: 100%;text-decoration: none;color: black;padding-right: 10px;}
h1 {text-align: center;font-family: Brush Script MT , cursive; padding-bottom: 5px;border-bottom-right-radius: 10px;border-top-left-radius: 10px;border: 1px solid black;}
.updates{background-color: #ffffff;box-shadow: 2px 2px #d4d4d4;padding: 3px;}
.upimg {display: block;width: 100%; height: auto; border-radius: 20px;}
.icons {text-align: center; padding-bottom:8px;}
.profile{ height: 40px; width: 40px; padding:10px;padding-top: 0px;}