*{
    padding: 0%; margin: 0%; box-sizing: border-box; text-decoration: none;font-family: Arial, Helvetica, sans-serif;
}
nav {
    position: fixed ;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    gap: 10px;
    z-index: 100;
    color: #ffffff;
    background-color: #050505;
}
.body{
    z-index: 10;
}
.body h2{
    text-align: center;
}
.body p{
    text-align: center;
}
.body .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1% 3% 2% 3%;
    gap: 20px;
}
.body .container .song{
    width: 7cm;
    height: fit-content;
    background-color: #f1f3f0;
    border: solid #000000 1px;
    border-radius: 12px;
    padding: 0px 0px 3px 0px;
}
.body .container .song img{
    width: 7cm;
    height: auto;
    border-radius: 12px 12px 0px 0px;
}
.body .container .song audio{
    width: 6.9cm;
}